<html lang="en">
{{> head}}
{{!-- HEADER --}}
<body>
   {{!-- NAVBAR --}}
   {{> navbar}}
   {{!-- BODY --}}
   <div class="container">
       {{{body}}}
   </div>

   {{!-- FOOTER --}}
   {{> footer}}
</body>
</html>